@use '../../../styles/variables.scss' as var;
@use '../../../styles/mixins.scss' as mix;

.filter {
  display: flex;
}

.filter-title {
  margin-right: 5px;
  padding: 0px;

  font-size: inherit;
  font-family: inherit;
  color: var.$blue;
  text-decoration: underline;

  background: none;
  border: none;
  cursor: pointer;

  transition: 0.75s;

  &:hover {
    color: var.$lime-green;
  }
}

.filter-arrow {
  width: 20px;
  height: 20px;

  @include mix.logo(url(../../../assets/svg/sort-filter-arrow.svg), var.$black);

  &.arrow-down {
    transform: rotate(180deg);
  }

  &.arrow-hide {
    visibility: hidden;
  }
}
