.video-metrics {
  grid-area: video-metrics;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 0px;

  font-size: 0.75rem;
}

.video-metrics li {
  display: flex;
  align-items: center;

  list-style-type: none;
}
