@use '../../styles/variables.scss' as var;

.main {
  align-items: center;
  height: 100%;
}

.loader {
  position: fixed;
  top: calc(50% - 10vmin);
  left: calc(50% - 10vmin);
  z-index: 1;

  box-sizing: border-box;
  height: 20vmin;
  width: 20vmin;

  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: var.$blue;
  border-top-color: var.$blue;

  animation: spin 1s infinite linear;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    height: 16vmin;
    width: 16vmin;

    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var.$deep-sky-blue;
    border-top-color: var.$deep-sky-blue;

    animation: spin 2s infinite linear;
  }

  &:after {
    content: '';

    box-sizing: border-box;
    height: 12vmin;
    width: 12vmin;

    position: absolute;
    top: 2vmin;
    left: 2vmin;

    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var.$aqua;
    border-top-color: var.$aqua;

    animation: spin 3s infinite linear;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
