@import '../../assets/styles/variables.scss';

.button {
  width: 30px;
  height: 30px;
  margin: 0.5em;
}

@mixin buttons($svg-path, $color) {
  background-color: $color;
  -webkit-mask: $svg-path no-repeat center;
  mask: $svg-path no-repeat center;
}

.btn-complete,
.btn-add {
  @include buttons(url(../../assets/svg/todoItemCompleteBtn.svg), $lime-green);
}

.btn-edit {
  @include buttons(url(../../assets/svg/todoItemEditBtn.svg), $deep-sky-blue);
}

.btn-remove {
  @include buttons(url(../../assets/svg/todoItemRemoveBtn.svg), $orange-red);
}

.btn-delete-text {
  @include buttons(url(../../assets/svg/todoItemDeleteTextBtn.svg), $orange-red);
}
