@use '../../styles/variables.scss' as var;

.sort-filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  grid-area: video-filters;

  font-size: 1rem;
  font-family: RobotoCondensedRegular, var.$default-fonts;

  user-select: none;

  li {
    align-self: center;
    white-space: nowrap;

    list-style-type: none;

    &:last-child {
      display: flex;
      align-items: center;
      grid-column: 2 / span 4;
    }

    & > input {
      border: 1px solid var.$grey;
      border-radius: 4px;
      background-color: var.$white;
    }
  }

  @media screen and (max-width: var.$screen-width-small) {
    gap: 1em 0.25em;

    font-size: 0.8rem;

    li {
      &:last-child {
        grid-column: 1 / span 4;
      }
    }
  }

  @media screen and (max-width: 360px) and (orientation: portrait) {
    li {
      grid-column: 1 / span 4;
    }
  }
}

.filters-label {
  grid-area: filters-label;
  margin-right: 5px;
}
