@use '../../../assets/styles/variables.scss' as var;
@use '../../../assets/styles/mixins.scss' as mix;

$logo-size: 20px;

.metric {
  display: flex;
  align-items: center;

  user-select: none;
}

.logo {
  width: $logo-size;
  height: $logo-size;
}

.count {
  margin-left: 5px;

  font-family: RobotoCondensedRegular, var.$default-fonts;
}

.logo-comments {
  @include mix.logo(url(../../../assets/svg/videoMetrics/metrics-comments.svg), var.$black);
}

.logo-favorites {
  @include mix.logo(url(../../../assets/svg/videoMetrics/metrics-favorites.svg), var.$black);
}

.logo-likes {
  @include mix.logo(url(../../../assets/svg/videoMetrics/metrics-likes.svg), var.$black);
}

.logo-views {
  @include mix.logo(url(../../../assets/svg/videoMetrics/metrics-views.svg), var.$black);
}
