@import '../../styles/variables.scss';

.main {
  height: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.75em 2em;
  height: max-content;

  @media screen and (max-width: $screen-width-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: $screen-width-medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $screen-width-small) {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
