@use '../../styles/variables.scss' as var;

.app-language {
  position: absolute;
  right: 1em;
  bottom: 0.7em;

  display: flex;
  align-items: center;

  font-family: RobotoCondensedRegular, var.$default-fonts;
  font-size: 1rem;

  @media screen and (max-width: var.$screen-width-small) {
    font-size: 0.8rem;
  }
}

.label {
  margin-right: 0.5em;

  user-select: none;
}

.select {
  font-family: inherit;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: var.$screen-width-small) {
    font-size: 0.8rem;
  }
}
