@use '../../assets/styles/variables.scss' as var;

.app-language {
  display: flex;
  align-items: center;
  grid-area: app-language;

  font-family: RobotoCondensedRegular, var.$default-fonts;
  font-size: 1rem;

  @media screen and (max-width: var.$screen-width-small) {
    font-size: 0.8rem;
  }
}

.label {
  margin-right: 0.5em;

  user-select: none;
}

.select {
  font-family: inherit;
  font-size: 1rem;

  border: 1px solid var.$grey;
  border-radius: 4px;
  background-color: var.$white;

  outline: none;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: var.$screen-width-small) {
    font-size: 0.8rem;
  }
}
