@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as mix;

.btn-sort-filters {
  $size: 25px;

  width: $size;
  height: $size;
  padding: 1px;
  grid-area: filters-toggle-btn;
  align-self: center;

  border-radius: var.$btn-border-radius;

  span {
    @include mix.buttons-svg(url(../../assets/svg/sort-filters.svg), var.$white);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-video-page-back {
  $size: 35px;

  position: absolute;
  top: 0;
  left: 0;

  width: $size;
  height: $size;
  padding: 5px;
  grid-area: video-page-btn;

  border-radius: var.$btn-border-radius 0 0 var.$btn-border-radius;

  transform: translateX(-100%);

  span {
    @include mix.buttons-svg(url(../../assets/svg/videoPage/video-page-arrow-back.svg), var.$white);
  }

  @media screen and (max-width: var.$screen-width-medium), (orientation: portrait) {
    position: static;

    width: 100%;

    border-radius: 0 0 10px 10px;

    transform: none;
  }

  @media screen and (max-width: var.$screen-width-small) {
    border-radius: 0;
  }
}

.btn-video-search-page-prev {
  $size: 30px;

  width: 3 * $size;
  height: $size;
  margin: 0 0.8em;
  padding: 5px;

  border-radius: var.$btn-border-radius;

  span {
    @include mix.buttons-svg(url(../../assets/svg/videoSearchPage/video-search-arrow-back.svg), var.$white);
  }

  &.arrow-next {
    transform: rotate(180deg);
  }
}
