*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --light: #ffffff;  
  --dark: #030303;  
}

body {
  height: 100vh;
}

.wrapper {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.sliderText,
.sliderPicture {
  transition: 0.5s;
}

.sliderText_position-hirozontal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
}

.sliderText_position-vertical {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  z-index: 100;
}

.sliderText__textItem {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--light);
}

.sliderText__textItem > h3 {
  margin-bottom: 30px;

  font-size: 48px;
}

.sliderText__textItem > p {
  font-size: 20px;
}

.sliderText__textItem_color-yellow {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(174, 216, 0));
}

.sliderText__textItem_color-pinck {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(255, 0, 214));
}

.sliderText__textItem_color-orange {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(255, 124, 0));
}

.sliderText__textItem_color-brown {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(118, 57, 57));
}

.sliderText__textItem_color-dark {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(77, 0, 0));
}

.sliderText__textItem_color-blue {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(0, 19, 255));
}

.sliderText__textItem_color-red {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(216, 0, 0));
}

.sliderText__textItem_color-caral {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(0, 216, 206));
}

.sliderText__textItem_color-violet {
  background: linear-gradient(45deg, rgb(217, 217, 217), rgb(0, 16, 216));
}

.background-none {
  background: none;
  color: var(--dark);

  justify-content: flex-start;

  padding: 5%;
}

.sliderPicture_position-hirozontal {
  position: absolute;
  top: 0;
  left: 35%;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
}

.sliderPicture_position-vertical {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

.sliderPicture__pictureItem_order:nth-of-type(1) {
  order: 9;
}
.sliderPicture__pictureItem_order:nth-of-type(2) {
  order: 8;
}
.sliderPicture__pictureItem_order:nth-of-type(3) {
  order: 7;
}
.sliderPicture__pictureItem_order:nth-of-type(4) {
  order: 6;
}
.sliderPicture__pictureItem_order:nth-of-type(5) {
  order: 5;
}
.sliderPicture__pictureItem_order:nth-of-type(6) {
  order: 4;
}
.sliderPicture__pictureItem_order:nth-of-type(7) {
  order: 3;
}
.sliderPicture__pictureItem_order:nth-of-type(8) {
  order: 2;
}
.sliderPicture__pictureItem_order:nth-of-type(9) {
  order: 1;
}

.sliderPicture__pictureItem {
  min-height: 100%;
  min-width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.control__btnDown,
.control__btnUp,
.control__btnLeft,
.control__btnRight,
.control__btnOrientation {
  padding: 15px;

  font-size: 16px;

  border: none;
  color: var(--dark);
  background-color: var(--light);

  cursor: pointer;
}

.control__btnDown,
.control__btnLeft {
  border: solid 3px var(--light);
  border-radius: 7px 0 0 7px;

  transform: translateX(-100%);
}

.control__btnUp,
.control__btnRight {
  border: solid 3px var(--light);
  border-radius: 0 7px 7px 0;
}

.control__btnOrientation {
  border: solid 3px var(--light);
  border-radius: 7px;
}

.control__btnDown_position-hirozontal,
.control__btnUp_position-hirozontal {
  position: absolute;
  left: 35%;
  top: 60%;
  z-index: 100;
}

.control__btnDown_position-vertical,
.control__btnUp_position-vertical {
  display: none;
}

.control__btnLeft_position-hirozontal,
.control__btnRight_position-hirozontal {
  display: none;
}

.control__btnLeft_position-vertical,
.control__btnRight_position-vertical {
  position: absolute;
  left: 7%;
  bottom: 5%;
  z-index: 100;
}

.control__btnOrientation_position-hirozontal {
  position: absolute;
  right: 3%;
  bottom: 5%;
  z-index: 100;
}

.control__btnDown:hover,
.control__btnUp:hover,
.control__btnLeft:hover,
.control__btnRight:hover,
.control__btnOrientation:hover {
  border: solid 3px var(--dark);
}

.control__btnDown:focus,
.control__btnUp:focus,
.control__btnLeft:focus,
.control__btnRight:focus,
.control__btnOrientation:focus {
  outline: none;
}
