@charset 'utf-8';

@use './variables.scss' as var;
@import './fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var.$black;
  font-weight: 500;

  background-color: var.$white;

  overflow: hidden;
}

input[type='search'] {
  border: 1px solid var.$grey;
  background-color: var.$white;

  outline: none;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var.$content-indent;

  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media screen and (max-width: var.$screen-width-small) {
    margin: 1em 0;
  }
}

.container {
  width: 80%;

  @media screen and (max-width: var.$screen-width-medium) {
    width: 90%;
  }

  @media screen and (max-width: var.$screen-width-small) {
    width: 100%;
  }
}

.title {
  font-family: PTSansRegular, var.$default-fonts;
  font-size: 1.3rem;
  font-weight: 700;
  text-overflow: ellipsis;

  overflow: hidden;
}

.button,
.button-svg {
  font-family: PTSansRegular, var.$default-fonts;

  background-color: var.$blue;
  border: none;
  cursor: pointer;

  transition: 0.75s;

  user-select: none;

  &:hover {
    background-color: var.$lime-green;
  }

  &:disabled {
    background-color: var.$grey;
  }
}

.button {
  color: var.$white;
  text-transform: lowercase;

  border-radius: var.$btn-border-radius;

  &:active {
    transform: scale(0.95);
  }
}

[data-title] {
  position: relative;

  &::after {
    content: attr(data-title);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: auto;
    padding: 0.25em 0.5em;

    color: var.$white;

    background: var.$blue;
    box-shadow: 1px 1px 5px var.$shadow;
    border-radius: 3px;
    opacity: 0;

    transition: 0.25s;

    pointer-events: none;
    user-select: none;
  }

  &:hover::after {
    top: -2em;

    opacity: 1;
  }
}
